---
layout: default
title: "Publications"
permalink: /publications/
---

{% assign years = (2017..2025) | reverse %}
{% assign highlighted_names = "" %}
{% assign display_links = "true" %}

<h1> Publications </h1>

<p>
    The most accurate list of publications can be found on
    <a href="https://scholar.google.com/citations?hl=en&tzom=300&user=kUVJywwAAAAJ">Google Scholar</a>.
</p>

<p>
    {% for year in years %}
        <a href="#year{{ year }}">{{ year }}</a> |
    {% endfor %}
<!--    <a href="#preprints">Preprints</a>-->
</p>

<h2>Preprints</h2>
<div class="publications-container">
    {% for pub in site.data.preprints %}
        {% include pub-thumbnail.html %}
    {% endfor %}
</div>

{% for year in years %}
    <h2>{{ year }}</h2><a id="year{{ year }}"></a>
    <div class="publications-container">
        {% for pub in site.data.pubs %}
            {% if pub.year == year %}
                {% include pub-thumbnail.html %}
            {% endif %}
        {% endfor %}
    </div>
    <!-- Return to Top Button -->
    <div class="return-top-container">
      <a href="#top" class="btn-return-top" aria-label="Return to top">
        <i class="fas fa-arrow-up"></i> Back to Top
      </a>
    </div>
{% endfor %}