
<h2 class="page__title">{{pub.title}}</h2>

<div class="pub-content">
    {% if pub.award %}
        <p>(<b>{{pub.award}}</b>)</p>
    {% endif %}

    <p class="pub-authors">
        {% for author in pub.authors %}
            {{ author }}{% if pub.equal_contributions contains author %}*{% endif %}{% if forloop.last %}. {% else %}, {% endif %}
        {% endfor %}
    </p>
    {% include pub-meta.html %}
    {% include pub-buttons.html %}

    <p>
        {% if pub.abstract %}
            <b>Abstract:</b> {{ pub.abstract | markdownify}}
        {% endif %}
    </p>
</div>