{% if pub.site %}
  {% assign pub_link = pub.site %}
{% else %}
  {% assign pub_link = "/publications/" | append: pub.key %}
{% endif %}

<div class="pub-item">
    <!-- Left Column - Thumbnail -->
    <div class="pub-thumbnail">
      <a href="{{ pub_link }}">
        <img src="{{ pub.thumbnail | default: '/assets/img/robot-red.png' }}"
             alt="{{ pub.title }} thumbnail">
      </a>
    </div>

    <!-- Right Column - Details -->
    <div class="pub-content">
        <h3>
            <a href="{{ pub_link }}">{{pub.title}}</a>.
            {% if pub.award %}
                (<b>{{pub.award}}</b>)
            {% endif %}
        </h3>
        <p class="pub-authors">
            {% for author in pub.authors %}
                {% if highlighted_names contains author %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% if pub.equal_contributions contains author %}*{% endif %}{% if forloop.last %}. {% else %}, {% endif %}
            {% endfor %}
        </p>
        {% include pub-meta.html %}
        {% if display_links=="true" %}
            {% include pub-buttons.html %}
        {% endif %}
    </div>
</div>