<li>
    {% if pub.site %}
        <a href="{{pub.site}}">{{pub.title}}</a>.
    {% else %}
        <a href="/publications/{{pub.key}}">{{pub.title}}</a>.
    {% endif %}
    {% if pub.award %}
        (<b>{{pub.award}}</b>)
    {% endif %}
    <br/>
    {% for author in pub.authors %}
        {% if highlighted_names contains author %}<b>{{ author }}</b>{% else %}{{ author }}{% endif %}{% if pub.equal_contributions contains author %}*{% endif %}{% if forloop.last %}. {% else %}, {% endif %}
    {% endfor %}
    {% include pub-meta.html %}
    {% if display_links=="true" %}
        {% include pub-buttons.html %}
    {% endif %}
</li>
